@import "tailwindcss";
@import "react-resizable/css/styles.css";
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  cursor: url("/cursor.cur"), auto;
}
@keyframes loading {

0% {
width: 0%;
}

100% {
width: 100%;
}

}
